name: General CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/dependabot.yml"
      - "**/README.md"
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  DOCKER_BUILDKIT: 1
  # the branch or tag on which this workflow is triggered
  # `head_ref` will only be set if the triggering event is `pull_request`
  REF_VERSION: ${{ github.head_ref || github.ref_name }}

concurrency:
  # see https://stackoverflow.com/questions/74117321/if-condition-in-concurrency-in-gha
  # along with the `sequentialise` job below, it guarantees:
  # - for push in dev: all triggered CIs will be run sequentially, none is cancelled
  # - for PR: later triggered CIs will cancel previous runs, maximum one CI will be run
  group: ${{ github.workflow }}-${{ github.head_ref && github.ref || github.run_id }}
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install rust toolchain
        run: rustup show

      - name: fmt check
        run: |
          cargo fmt --all -- --check

      - name: Fail early
        if: failure()
        uses: andymckay/cancel-action@0.5

  # sequentialise the workflow runs on `dev` branch
  # the if condition is applied in step level to make this job always `successful`
  sequentialise:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for previous run
        if: ${{ !failure() && (github.event_name == 'push') && (github.ref == 'refs/heads/dev') }}
        uses: litentry/consecutive-workflow-action@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          interval: 300
          branch: main

  clippy:
    runs-on: ubuntu-latest
    needs:
      - fmt
      - sequentialise
    steps:
      - uses: actions/checkout@v4

      - name: Install rust toolchain
        run: rustup show

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -yq openssl clang libclang-dev cmake protobuf-compiler

      - uses: Swatinem/rust-cache@v2

      - name: Run cargo clippy check
        run: SKIP_WASM_BUILD=1 cargo clippy --workspace --all-targets --all-features -- -D warnings

      - name: Fail early
        if: failure()
        uses: andymckay/cancel-action@0.5
  
  build-check:
    runs-on: ubuntu-latest
    needs:
      - fmt
      - sequentialise
    steps:
      - uses: actions/checkout@v4

      - name: Install rust toolchain
        run: rustup show

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -yq openssl clang libclang-dev cmake protobuf-compiler

      - uses: Swatinem/rust-cache@v2

      - name: Check build
        run: |
          SKIP_WASM_BUILD=1 cargo check

      - name: Check build for benchmarking
        run: >
          pushd node &&
          cargo check --features=runtime-benchmarks
